.video-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.video-container div {
  width: 70%;
  height: 60vh;
  margin: 0 auto;
}
.video-container div div iframe {
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .video-container div {
    width: 90%;
    height: 30vh;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .video-container div {
    width: 90%;
    height: 40vh;
  }
}

.middle {
  margin: 200px 0 0 0;
}
@media screen and (max-device-height: 900px) {
  .middle {
    margin: 100px 0 0 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .middle {
    margin: 110px 0px 0 0px;
  }
}
@media screen and (max-device-height: 700px) {
  .middle {
    margin: 50px 0 0 0;
  }
}
.middle h2 {
  text-align: center;
  font-size: calc(26px + 0.8080808081vw);
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  padding-bottom: 50px;
  color: #0D152C;
}
@media screen and (max-width: 500px) {
  .middle h2 {
    font-size: calc(28px + 0.8080808081vw);
    font-weight: 700;
  }
}
.middle .add-h2 {
  text-align: center;
  font-size: calc(28px + 0.8080808081vw);
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  padding: 50px 0;
}
@media screen and (max-width: 500px) {
  .middle .add-h2 {
    font-size: calc(28px + 0.8080808081vw);
    font-weight: 700;
    text-align: start;
    padding: 30px 0 0 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .middle .add-h2 {
    text-align: start;
    padding: 70px 0 0 20px;
  }
}

.additional {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .additional {
    display: block;
  }
}
.additional .add-img {
  position: relative;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .additional .add-img {
    display: none;
  }
}
.additional .add-img .phone {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  width: 90%;
}
.additional .add-img .add-photo {
  width: 45%;
  display: block;
  margin: 0 auto;
  height: 750px;
  border-radius: 15px;
}
@media screen and (min-device-width: 2200px) {
  .additional .add-img .add-photo {
    height: 1000px;
    width: 60%;
  }
}
.additional .add-img-mobile {
  position: relative;
  width: 100%;
  display: none;
}
@media screen and (max-width: 500px) {
  .additional .add-img-mobile {
    display: block;
  }
}
.additional .add-img-mobile #mobile {
  display: block;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .additional .add-img-mobile #mobile {
    display: none;
  }
}
.additional .add-img-mobile #ipad {
  display: none;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .additional .add-img-mobile #ipad {
    display: block;
  }
}
.additional .add-img-mobile .phone {
  position: relative;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
}
.additional .add-img-mobile .add-photo {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 400px;
  border-radius: 15px;
  position: absolute;
  top: 80px;
  left: 10%;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .additional .add-img-mobile .add-photo {
    width: 50%;
    left: 25%;
    height: 550px;
  }
}

.add-container {
  margin-top: 100px;
}
@media screen and (max-width: 900px) {
  .add-container {
    margin-top: 40px;
  }
}
.add-container .add-info:first-child {
  margin-top: 0;
}
.add-container .add-info {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
@media screen and (max-width: 500px) {
  .add-container .add-info {
    margin-top: 10px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .add-container .add-info {
    margin-top: 40px;
  }
}
.add-container .add-info .add-number {
  width: 70px;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 10px 20px;
  font-size: 28px;
  font-weight: 600;
}
.add-container .add-info h3 {
  font-size: calc(24px + 0.8080808081vw);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 500px) {
  .add-container .add-info h3 {
    font-size: calc(20px + 0.8080808081vw);
  }
}
.add-container .add-info p {
  font-size: calc(12px + 0.8080808081vw);
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  color: rgba(41, 45, 50, 0.8);
}
@media screen and (max-width: 500px) {
  .add-container .add-info p {
    font-size: calc(14px + 0.8080808081vw);
    line-height: 20px;
  }
}

.purple {
  background: #71357C;
}

.blue {
  background: #95D0D5;
}

.orange {
  background: #FD7E50;
}

.red {
  background: #F35D5D;
}

.overview {
  margin-top: 200px;
  display: flex;
}
@media screen and (max-width: 900px) {
  .overview {
    display: block;
    margin-top: 100px;
  }
}
@media screen and (min-device-width: 2000px) {
  .overview {
    margin-top: 500px;
  }
}
.overview .over-text {
  width: 50%;
  padding: 0 30px 0 50px;
}
@media screen and (max-width: 900px) {
  .overview .over-text {
    width: 100%;
    padding: 10px 20px;
  }
}
.overview .over-text h3 {
  font-size: calc(26px + 0.8080808081vw);
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #292D32;
  padding-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .overview .over-text h3 {
    color: #0D152C;
    font-size: calc(28px + 0.8080808081vw);
    font-weight: 700;
    padding-bottom: 20px;
  }
}
.overview .over-text p {
  font-size: calc(14px + 0.8080808081vw);
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 45, 50, 0.8);
}
.overview .over-text p span {
  color: rgba(41, 45, 50, 0.8);
  font-weight: 600;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .overview .over-text p span {
    opacity: 1;
    color: rgba(13, 21, 44, 0.8);
  }
}
@media screen and (max-width: 500px) {
  .overview .over-text p {
    font-size: calc(14px + 0.8080808081vw);
    line-height: 28px;
    color: rgba(13, 21, 44, 0.8);
    font-weight: 400;
  }
}
.overview .over-slider {
  width: 50%;
}
@media screen and (max-width: 500px) {
  .overview .over-slider {
    margin-top: 50px;
    width: 100%;
  }
  .overview .over-slider img {
    width: 50%;
    height: 70vw;
  }
  .overview .over-slider .active-m {
    width: 100%;
    height: 90vw;
  }
  .overview .over-slider .slick-slider {
    overflow-x: hidden;
  }
  .overview .over-slider .slick-slider .slick-dots {
    top: 0px;
  }
  .overview .over-slider .slick-slider .slick-dots li {
    margin: 0;
  }
  .overview .over-slider .slick-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    background: red;
  }
  .overview .over-slider .slick-slider .slick-dots li button::before {
    content: "";
  }
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  .overview .over-slider {
    display: block;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .overview .over-slider {
    margin-top: 50px;
    width: 100%;
  }
  .overview .over-slider img {
    width: 50%;
    height: 70vw;
  }
  .overview .over-slider .active-m {
    width: 100%;
    height: 90vw;
  }
  .overview .over-slider .slick-slider {
    overflow-x: hidden;
  }
  .overview .over-slider .slick-slider .slick-dots {
    top: 0px;
  }
  .overview .over-slider .slick-slider .slick-dots li {
    margin: 0;
  }
  .overview .over-slider .slick-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    background: red;
  }
  .overview .over-slider .slick-slider .slick-dots li button::before {
    content: "";
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) and (max-width: 500px) {
  .overview .over-slider {
    display: block;
  }
}

.learn {
  display: flex;
  align-items: center;
  margin: 50px 0 0 50px;
}
@media screen and (max-width: 900px) {
  .learn {
    display: none;
  }
}
.learn h6 {
  font-size: calc(14px + 0.8080808081vw);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #292D32;
}
.learn img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.learn-mobile {
  display: none;
  align-items: center;
  margin: 20px 0 0 20px;
}
@media screen and (max-width: 900px) {
  .learn-mobile {
    display: flex;
  }
}
.learn-mobile h6 {
  font-size: calc(14px + 0.8080808081vw);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #292D32;
  filter: invert(24%) sepia(96%) saturate(6589%) hue-rotate(356deg) brightness(104%) contrast(118%);
}
.learn-mobile img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  filter: invert(24%) sepia(96%) saturate(6589%) hue-rotate(356deg) brightness(104%) contrast(118%);
}

.download {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 150px;
  justify-content: space-between;
  height: 200px;
}
@media screen and (max-width: 500px) {
  .download {
    height: auto;
    display: block;
    margin-top: 50px;
  }
}
.download .backgr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 200px;
}
@media screen and (max-width: 500px) {
  .download .backgr {
    display: none;
  }
}
.download .backgr-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: none;
}
@media screen and (max-width: 500px) {
  .download .backgr-mobile {
    display: block;
  }
}
.download .down-info {
  width: 50%;
  padding-left: 50px;
}
@media screen and (max-width: 500px) {
  .download .down-info {
    width: 100%;
    padding: 0;
  }
}
.download .down-info h4 {
  font-size: calc(24px + 0.8080808081vw);
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #292D32;
  padding-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .download .down-info h4 {
    font-size: calc(28px + 0.8080808081vw);
    color: #0D152C;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
.download .down-info p {
  font-size: calc(16px + 0.8080808081vw);
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 45, 50, 0.8);
}
@media screen and (max-width: 500px) {
  .download .down-info p {
    font-size: calc(18px + 0.8080808081vw);
    line-height: 28px;
    color: rgba(13, 21, 44, 0.8);
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .download .down-info p {
    line-height: 28px;
  }
}
.download .down-a {
  display: block;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .download .down-a {
    width: 100%;
    border-radius: 10px;
  }
}
.download .down-a img {
  width: 40%;
  display: block;
  margin: 0 50px 0 auto;
}
@media screen and (max-width: 500px) {
  .download .down-a img {
    width: 70%;
    margin: 30px auto 0 auto;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .download .down-a img {
    width: 60%;
  }
}

/*# sourceMappingURL=MidleBlock.css.map */
